@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Poppins&display=swap');


*{
    background-color: #D6E2F0;
    margin: 0;
	padding: 0;
	border: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 3px 20px 0px rgba(128, 128, 128, 0.514);
    border-radius: 30px;
    padding: 30px;
}

.card img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 40px;
    max-width: 449px;
    
}

h1{
    font-weight: 700;
    width: 418px;
    font-size: 33px;
    background-color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    
}

p{
    background-color: white;
    font-weight: 400;
    padding-top: 25px;
    width: 339px;
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}  
